.caratula-balcarce{ background-image: url(../resources/imagenes/balcarce/paisaje.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;

}
.titulo{
    color:#fff ;
    font-size: 3rem !important;
}
.linea-titulo{ background-color:#C6A40D;
    opacity: 100%;
    width: 20rem;
    margin: auto;

}
.balcarce{background-color: black;
    opacity: 100%;

}
.mapa{ margin-top: 2rem;
    margin-left: 5rem;

}



