.caratula{ background-image: url(../resources/imagenes/sierra.jpg);
    background-size: cover;
    height: 40vh;


}
.lospinos{ color:#fff ;
    font-size: 2.3rem !important;
}

.linea1{ background-color:#C6A40D;
    opacity: 100%;
    width: 20rem;
    margin: auto;

}
.linea2{height: 1rem;
    background-color: #1B2631;
    opacity: 100%;

}

