@import url(../styles/contacto.css);
@import url(../styles/Los-Pinos-San-Agustin.css);
@import url(../styles/laguna.css);
@import url(../styles/citytour.css);


.navtop{background-color: #1B2631;

}
.navbaritems:hover a{ filter:blur(2px);

}
 a{ display: inline-block;
    color:#fff !important;
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, .4);
    transition: .2s !important;
    background-color: #1B2631 !important
    }

a:hover{ transform:translateY(-5px) scale(1.05);
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, .6);
    filter:none !important;
    color: #fff !important;
    background-color: #1B2631 !important
}


.facebook:hover{
    background:#3b5998 !important ;
}
.instagram:hover{
background:#e4485f !important;
}
.twitter:hover{
    background: #00acee !important;
}

.balcarce{background-image: url(../resources/imagenes/index/Balcarce-intro.png);
    background-size: cover;
    height: 100vh;
    }


 .turismo p{ font-size: 0.9rem;

 }
.pueblos{position: relative;

}
 .link{ 
    position: absolute; 
    top: 80%; 
    left: 40%;

 }

 
 
